#wrapper
{
	background: white;
	-moz-box-shadow: 0 0 2px #bbb;
	-webkit-box-shadow: 0 0 2px #bbb;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	z-index: 2;
	position: relative;
}

#header ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 20px;
}

#header ul li
{
	float: right;
	padding: 3px 0;
	margin: 0 16px 0 0;
	font-size: 10px;
	line-height: 14px;
}

#header ul a
{
	color: #333;
}

#header #orangeHeader
{
	height: 72px;
	background: #d05630 url('/images/orangeheader-tile.png') repeat-x top left;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-radius: 0 0 4px 4px;
}

#header #orangeHeader h1
{
	margin: 0;
}

#header #orangeHeader a
{
	display: block;
	height: 72px;
	width: 198px;
	background: url('/images/ubuntu-planet.png') no-repeat center center;
	padding-left: 40px;
}

#header #orangeHeader span
{
	display: none;
}

#todaysDate
{
	margin: 10px 0;
	text-align: right;
	color: #aea79f;
}

#main
{
	background: #f7f6f5;
}
#container
{
	margin: 0 0 0 20px;
	width: 700px;
	float: left;
}

#secondary
{
	margin: 40px 20px 0 0;
	width: 224px;
	float: right;
}

.post
{
	background: #fff;
	margin: 0 0 16px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 8px;
	-moz-box-shadow: 0px 1px 2px #CCC;
	-webkit-box-shadow: 0px 1px 2px #CCC;
	box-shadow: 0px 1px 2px #CCC;
}

.post .postHeader
{
	border-bottom: 1px dotted #aea79f;
	margin: 0 0 8px 0;
}

.post .postHeader h2
{
	width: 560px;
	float: left;
	margin-bottom: 4px;
}

.post .postHeader h3
{
	width: 560px;
	float: left;
	color: #aea79f;
	margin-bottom: 16px;
}

.post .postHeader h2.entry-title,
.post .postHeader h2.entry-title a
{
	color: #333333;
}
.post .postHeader img
{
	float: right;
	max-height: 56px;
	padding-top: 4px;
}

.post .entry-content
{
	border-bottom: 1px dotted #aea79f;
	padding-bottom: 8px;
}

.post .entry-content p
{
	clear: both;
}

.post .entry-content img
{
	float: left;
	margin: 0 8px 8px 0;
        max-width: 680px;
}

.post .entry-content pre
{
	font-size: 12px;
        font-family: monospace;
	padding: 10px;
	background: #f0f0f0;
	border: 1px solid #ccc;
	line-height: 20px; /*--Height of each line of code--*/;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}

.post .entry-utility
{
	margin: 8px 0 0;
	text-align: right;
}

.post .entry-utility .cat-links a
{
	color: #888;
}

.xoxo
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.widgetcontainer
{
	background: #fff;
	margin: 0 0 16px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 0 1em 0;
	-moz-box-shadow: 0px 2px 2px #CCC;
	-webkit-box-shadow: 0px 2px 3px #CCC;
	box-shadow: 0px 2px 3px #CCC;
}

.widgetcontainer .widgettitle
{
	padding: 10px 8px;
	background: url("/images/sidebox_stripes.png");
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 18px;
}

.widgetcontainer p
{
	margin: 0 8px 1em 8px;
}

.widgetcontainer p:last-child
{
	margin: 0 8px;
}

.widgetcontainer a
{
	color: #333;
}

.widgetcontainer p a
{
	text-decoration: underline;
}

.widgetcontainer ul
{
	margin: 0 8px;
	padding: 0;
	list-style-type: none;
}

.widgetcontainer ul li
{
	padding: 6px 0;
	border-bottom: 1px dotted #aea79f;
}

.widgetcontainer ul li:last-child
{
	border: 0;
}

#footer
{
	background: #F7F6F5;
	z-index: 1;
	position: relative;
	color: #aea79f;
	padding: 56px 16px 16px 16px;
}

#footer p
{
	margin: 0;
	font-size: 10px;
	line-height: 14px;
}
